VITE_SUPABASE_URL=https://hgqiacosjerdxftltfol.supabase.co
VITE_SUPABASE_STORAGE_S3_ENDPOINT=https://hgqiacosjerdxftltfol.storage.supabase.co/storage/v1/s3
VITE_SUPABASE_STORAGE_BUCKET=canvas-media
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
